.title{

    margin: 2px;
    padding: 5px;
    text-align: center;

}

.title::after{
    
}

.container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    padding: 10px;
}

li:hover .button{
    background-color: rgb(236, 191, 76);
}

img {
    width: 75%;
    /* height: 275px; */
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 5%;
    margin-bottom: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight:bold;
}

.bulkprice{
    color: lightslategray;
    margin: 2px;

}

.button{
    width: 85%;
    height: 40px;
    background-color: black;
    color: white;
    margin: 0px;
    
}

.cart{
    position: absolute;
    top: 0px;
    left: 93%;
    background-color: black;
    color: white;
    padding: 2%;
    width: 30px;
    height: 30px;
}

